            <footer class="footer">
                <div class="container has-text-centered">
                    <p style="font-family: Chakra Petch;">
                        <b>FragHenri_</b>
                        All rights reserved <span style="font-family: Ubuntu;">&copy;</span>
                    </p>
                    <a class="button is-small is-primary is-outlined" href="/impressum">Impressum</a>
                    <a class="button is-small is-primary is-outlined" href="/datenschutz">Datenschutzerklärung</a>
                    <p style="font-family: 'Chakra Petch';">Website erstellt von <a class="has-text-info" href="https://brunoseiwert.de" target="_blank">Bruno Seiwert</a></p>
                </div>
            </footer>   
        </body>
</html>