<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Henri Wagner</title>
        <!-- lib -->
        <link rel="stylesheet" href="/fontawesome/all.css">
        <link rel="stylesheet" href="/bulma.css">
        <!-- own -->
        <script src="/UI.js"></script>
    </head>
    <body class="has-background-white has-navbar-fixed-top" style="height: 100%;">
        
<!-- NAVBAR -->
<nav class="navbar is-white is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="subtitle is-3 has-text-primary" style="font-family: 'Chakra Petch';">FragHenri_</p>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a id="homeButton" class="navbar-item has-text-primary" href="/">
                  Home
                </a>
                <a id="contactButton" class="navbar-item has-text-primary" href="/contact">
                  Kontakt
                </a>
                <a id="aboutButton" class="navbar-item has-text-primary" href="/about">
                  Über mich
                </a>
                <a id="impressumButton" class="navbar-item has-text-primary" href="/impressum">
                  Impressum
                </a>
                <a id="datenschutzButton" class="navbar-item has-text-primary" href="/datenschutz">
                  Datenschutz
                </a>
                
                <script type="text/javascript">
                    var active = <%- JSON.stringify(active) %>
                    document.getElementById(active + "Button").classList.add("is-active");
                </script>
            </div>
        </div>
    </div>
</nav>