<% include partials/header %>

<section class="section">
    <div class="container has-text-centered">
        
        <p class="title has-text-primary">Über mich</p>
    
        <figure class="image">
            <img class="is-rounded" src="/images/henrisupport.jpg" style="width:300px; display: inline;">
        </figure>
        
        <div class="columns is-centered" style="margin-top: 20px;">
            <div class="column is-half">
                <p class="is-size-5">
                    Hi, ich bin Henri Wagner, gerne einfach nur Henri!
                    Ich habe mich schon sehr früh für Computer interessiert und viel experimentiert. Als ich meinen ersten PC bekommen habe, beschäftigte ich mich viel mit der Frage, wie er eigentlich funktioniert.
                    Vor allem die Hardware faszinierte mich.
                    Da dieses Interesse immer noch besteht, mache ich mein Hobby zum Nebenjob und verdiene mir mit Handy-Reparaturen, PC-Zusammenbau oder anderen technischen Aufgaben etwas Geld dazu.
                    <br><br>
                    Sie können mich gerne kontaktieren. Dann können wir besprechen, ob ich Ihnen helfen kann!
                </p>
                
                <a class="button is-primary is-large is-rounded is-outlined" style="margin-top: 1em;" href="/contact">
                    <span class="icon">
                        <i class="fas fa-at"></i>
                    </span>
                    <span>
                        Kontakt
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>