<% include partials/header %>

<section class="section">
    <div class="container has-text-centered">
        <p class="title has-text-primary">
            Kontakt
        </p>
        <figure class="image">
            <img class="is-rounded" src="/images/henrisupport.jpg" style="width:300px; display: inline;">
        </figure>
        <p class="subtitle is-size-5" style="margin-top: 20px;">
            Für Fragen oder Beratung erreichen Sie mich folgendermaßen:
        </p>
        
        <div class="columns is-centered">
            <div class="column is-one-third">
                  
                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <span class="icon has-text-primary is-large">
                                <i class="fas fa-2x fa-at"></i>
                            </span>
                            <a class="subtitle has-text-primary" href="mailto:info@frag-henri.de">info@frag-henri.de</a>
                        </div>
                    </div>
                </div>
                
                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <span class="icon has-text-primary is-large">
                                <i class="fas fa-2x fa-paper-plane"></i>
                            </span>
                            <a class="button is-primary is-outlined subtitle" href="https://t.me/axolord" target="_blank">Telegram</a>
                        </div>
                    </div>
                </div>
                
                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <span class="icon has-text-primary is-large">
                                <i class="fas fa-2x fa-phone"></i>
                            </span>
                            <a class="subtitle" href="tel:+4915735524477">0157-35524477</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

<% include partials/footer %>