<% include partials/header %>

<section class="section has-background-primary" style="padding-top: 8em;">
    <div class="container has-text-centered">
        <h1 class="title is-size-2-touch is-size-1-desktop has-text-white">
            Computer zu langsam?
        </h1>
        <h2 class="subtitle is-size-3 has-text-white">
            iPhone kaputt?
        </h2>
        <h3 class="is-size-5-desktop is-size-6-touch has-text-white">
            Bei Technik-Problemen helfe ich Ihnen gerne weiter!
        </h3>
        <a class="button is-primary is-large is-rounded is-outlined is-inverted" style="margin-top: 1em;" href="/contact">
            <span class="icon">
                <i class="fas fa-at"></i>
            </span>
            <span>
                Kontakt
            </span>
        </a>
    </div>
</section>

<section class="section has-background-light">
    <div class="container has-text-centered">
        <p class="title has-text-primary" id="leistungen">
            MEINE LEISTUNGEN IM ÜBERBLICK
        </p>
        
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                        <p class="subtitle is-size-4">
                            <span class="icon">
                                <i class="fas fa-wrench"></i>
                            </span>
                            Reparaturen
                        </p>
                        <div class="content">
                            <p>
                                Insbesondere iPhones, sowie die meisten Laptops und Desktops 
                                lassen sich heutzutage reparieren, ohne sie beim Hersteller einzusenden.
                                Ich regele das für Sie!
                            </p>
                        </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                        <p class="subtitle is-size-4">
                            <span class="icon">
                                <i class="fas fa-desktop"></i>
                            </span>
                            PC-Bau & -Upgrade
                        </p>
                        <div class="content">
                            <p>
                                Ihr Sohn möchte einen Gaming-PC haben? Ihr Office-PC ist langsam?
                                Ein selbst gebauter PC ist meistens billiger, als ein fertiger vom Markt und
                                oftmals kann man den alten durch ein einfaches Upgrade erheblich verbessern.
                                Ich berate Sie gerne!
                            </p>
                        </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                        <p class="subtitle is-size-4">
                            <span class="icon">
                                <i class="fas fa-user-cog"></i>
                            </span>
                            Wartung
                        </p>
                        <div class="content">
                            <p>
                                Drucker funktioniert nicht? Treiber wurden nicht richtig installiert?
                                PC fährt nicht mehr hoch? Keine Sorge!
                            </p>
                        </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!--<section class="hero is-fullheight-with-navbar is-primary is-bold">-->
<!--    <div class="hero-body">-->
<!--        <div class="container has-text-centered">-->
<!--            <h1 class="title is-size-2-touch is-size-1-desktop has-text-white">-->
<!--                Handy kaputt?-->
<!--            </h1>-->
<!--            <h2 class="subtitle is-size-3 has-text-white">-->
<!--                Internet gelöscht?-->
<!--            </h2>-->
<!--            <h3 class="is-size-5-desktop is-size-6-touch">-->
<!--                Bei Hardware-Problemen helfe ich ihnen gerne weiter!-->
<!--            </h3>-->
<!--            <a class="button is-primary is-large is-rounded is-outlined is-inverted" style="margin-top: 1em;">-->
<!--                Kontakt-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<% include partials/footer %>