@charset "utf-8"

@import "../node_modules/bulma/sass/utilities/initial-variables"
@import "../node_modules/bulma/sass/utilities/functions"

@font-face
    font-family: 'Ubuntu'
    src: url("Ubuntu-Regular.woff")
    font-weight: 400

@font-face
    font-family: 'Ubuntu'
    src: url("Ubuntu-Bold.woff")
    font-weight: 700

@font-face
    font-family: 'Chakra Petch'
    src: url("ChakraPetch-Regular.woff")
    font-weight: 400

@font-face
    font-family: 'Chakra Petch'
    src: url("ChakraPetch-Bold.woff")
    font-weight: 700


$primary: #334455
$family-primary: "Ubuntu"
$navbar-height: 4rem
$footer-padding: 1rem 1.5rem 1rem

.button
    transition: background-color 0.1s

p#leistungen
    margin-bottom: 80px
    box-sizing: border-box

p#leistungen:after
    content: ""
    height: 3px
    width: 60px
    left: 50%
    margin: 20px 0 0 -30px
    background: $primary
    display: block
    position: absolute
    box-sizing: border-box


/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"